body* {
    background-color: #333;
    /* Fundo azul */
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Altura total da janela */
    margin: 0;
    /* Remove margens padrão */
}

h1 {
    color: black;
    /* Fonte preta */
}